*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
body {
  display: flex;
  min-height: 100vw;

  line-height: 1.6;

  font-family: "Epilogue", sans-serif;


  font-size: 1rem;

}

@media (min-width: 1280px) {
  body{
    margin: auto;
    width: 1280px;
  }
}